<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <span class="navbar-text" style="color:red; font-size: 18px; margin-right: 10px; "> Musical Hendrix </span>
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="/catalogo">Catalogo</a>
            <a class="nav-link" href="/donde-estamos">Donde Estamos</a>
          
        </div>
        <div class="navbar-nav" style="position: absolute; margin: 0 auto; right:10px;">
            <a class="nav-link" href="/admin/lista-productos">Administracion</a>
        </div>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>